<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" [routerLink]="['/home']">Peliculas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            </ul>
            <div class="d-flex">
                <input #txtBuscar (keyup.enter)="buscarPelicula(txtBuscar.value)" type="search" placeholder="Search" aria-label="Search" class="form-control mr-2">
                <Button class="btn btn-outline-success" (click)="buscarPelicula(txtBuscar.value)" type="submit">
                    Search
                </Button>
            </div>
        </div>
    </div>
</nav>